.button {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: teal;
  color: white;
  border: none;
  font-family: 'Muli';
}
.title {
  margin-bottom: 10px;
  color: black;
  text-align: center;
}
